.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.graph-title {
    font-size: 26px;
    padding-left: 50px;
    font-family: sans-serif;
}